<div class="contents row">
  <p><%= @nickname %>さんの投稿一覧</p>

  <% @comics.each do |comic| %>
        <%= render partial: "comics/comic", locals: { comic: comic } %>
  <% end %>
  <h3>いいねしている投稿</h3>
<% @user.liked_comics.each do |comic| %>
  <%= render partial: "comics/comic", locals: { comic: comic } %> 
<% end %>
  <%= paginate(@comics) %>
</div>