<div class="contents row">
  <div class="container">
    <%= form_for @comic, url: comic_path do |form| %>
      <h3>
        編集する
      </h3>
      <%= render partial: "form", locals: { form: form } %>
    <% end %>
  </div>
</div>