<div class="contents row">
  <div class="container">
    <%= form_for @comic, url: "/comics/#{@comic.id}/tags" do |form| %>
      <h3>
        編集する
      </h3>
      <%= form.label "タグ" %>
      <%= form.text_field :name,placeholder:"複数のタグを同時に登録する時は「 , 」（カンマ）で区切ってね", value: @tag_list %>
      <%= form.submit "送信" %>
    <% end %>
  </div>
</div>