<div class="contents row">
    <%= render partial: "comic", locals: { comic: comic } %>
    <%= form_with(model: @comic, local: true) do |form| %>
      <h3>
        タグを追加する
      </h3>
      <%= form.text_field :name, placeholder: "タグ名" %>
      <%= form.submit "SEND" %>
    <% end %>
</div>