.left-bar {
  margin-top:20px;
  z-index: 4;
  position: fixed;
  // margin-top:62px;
  width:300px;
  padding-top:80px;
  height:calc(100% - 80px);
  float:left;
  background-color:#D8D8D8;
  opacity: 0.8;
  border-right:1px solid #D8D8D8;
  .introduce_text {
    background-color:white;
    padding:20px;
    border-radius: 15px;
    margin:20px;
    font-size:20px;
  }
}